python-dotenv==1.0.0
langchain==0.0.334
tiktoken==0.5.1
faiss-cpu==1.7.4
torch==2.0.1
sentence-transformers==2.5.1
InstructorEmbedding==1.0.1
openai==1.2.3
loguru==0.7.2
textract==1.6.5
pandas==2.0.3
fastapi==0.68.2
pydantic==1.10.14
uvicorn==0.15.0
requests==2.31.0
pdftotext==2.2.2
